
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base :: layout(~{::section})">

<head>
    <meta charset="UTF-8" />
    <title>This is the home page</title>
</head>

<body>
<section class="banner  d-flex justify-content-center align-items-center">
<div>
<h1  style="color: black; padding-left: 380px; margin-top: 7%">Smart Contact Manager</h1>
<pre style=" font-size: 25px; margin-left:230px; font-weight: bold;padding-top: 10px">Start collecting Your contacts in very smarter way. we provide
       very efficient and smarter way of handling contacts. </pre>
       <button class="btn bg-primary btn-lg text-white "   style=" margin-left: 50%">Get Start</button>
</div>
</section>
</body>

</html>
