
<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
	<head>
		<meta charset="UTF-8"/>
		<title > chnage password form</title>
		
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<section>

<div id="login" class="m-5">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container " style="margin-top: -4%">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 200px" class="col-md-12">
               <h2 class="text-center"> Enter new password</h2>
               
                 
                  <form method="post" action="" th:action="@{/change-password}">
                 <div class="form-group">
                 <input name="newpassword"  type="text"  placeholder="Enter New password here"  class="form-control"  />
                 </div>
                 
                 <div class="conatiner text-center">
                 <button class="btn btn-info"> Change Password OTP</button>
                 </div>
                 
                 </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>