
<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
	<head>
		<meta charset="UTF-8"/>
		<title > this is the about page</title>
		
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<section>

<div id="login" class="m-5">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container " style="margin-top: -4%">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 200px" class="col-md-12">
                 <!-- 
                 Email form -->
                 
                 <div class="alert alert-success mt-3" role="alert">
                 We have send otp to your email 
                 please check it..
                 </div>
                 
                  <form method="post" action="" th:action="@{/verify-otp}">
                 <div class="form-group">
                 <input name="otp"  type="text"  placeholder="Enter otp here"  class="form-control"  />
                 </div>
                 
                 <div class="conatiner text-center">
                 <button class="btn btn-success"> verify OTP</button>
                 </div>
                 
                 </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>